<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- jQuery CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Bootstrap CSS CDN -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Bootstrap JavaScript CDN (Butuh jQuery) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

    <title>Sparta Coding Club | Bootstrap Practice</title>

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Jua&amp;display=swap" rel="stylesheet" />

    <script>
        function posting() {
            let title = $("#image-title").val();
            let content = $("#image-description").val();
            let img = $('#image').prop('files')[0];
            let profike = $('#imageProfile').prop('files')[0];

            let form_data = new FormData();
            form_data.append('file_give', img);
            form_data.append('profile_give', profike)
            form_data.append('title_give', title)
            form_data.append('content_give', content)
            

            if(!content || !title){
              alert('Harap Masukkan Data');
              return;
            }
            $.ajax({
              type: "POST",
              url: "/diary",
              data: form_data, 
              processData: false,
              contentType: false, 
              success: function (response) {
                  alert(response["msg"]);
                  window.location.reload();
              }
            })
            }

            $(document).ready(function () {
              listing();
            });
            function listing() {
              $.ajax({
                type: "GET",
                url: "/diary",
                data: {},
                success: function (response) {
                  console.log(response)
                  let articles = response["articles"];
                  for (let i = 0; i < articles.length; i++) {
                    let title = articles[i]["title"];
                    let content = articles[i]["content"];
                    let file = articles[i]['file'];
                    let profile = articles[i]['profile'];
                    let path = "{{url_for('static', filename='img/')}}" + profile
                    let temp_html = `
              <div class="col-4">
                <div class="card">
                  <img
                    src="../static/img/${file}"
                    class="card-img-top"
                    alt="..."
                  />
                  <img src="../static/img/${profile}" alt="" height="250px" width="250px" id="profile" />
                  <div class="card-body">
                    <h5 class="card-title">${title}</h5>
                    <p class="card-text">${content}</p>
                    <h6 class="card-subtitle mb-2 text-muted">{{mytime}}</h6>
                  </div>
                </div>
              </div>
                      `;
                    $("#cards-box").append(temp_html);
                  }
                },
              });
            }
    </script>

    <style>
      #profile{
        width: 100px;
        height: 100px;
        border-radius: 50%;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">Personal Diary</h1>
          <div class="mb-3">
            <input class="form-control" type="file" id="image" required>
          </div>
          <div class="mb-3">
            <input class="form-control" type="file" id="imageProfile" required placeholder="Masukkan Foto Profile">
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" id="image-title" placeholder="The title of your image" required>
          </div>
          <div class="mb-3">
            <textarea placeholder="The description of your image" class="form-control" id="image-description" rows="3" required></textarea>
          </div>
          <button type="button" class="btn btn-primary" onclick="posting()">Save</button>
        </div>
      </div>
      <div class="row justify-content-start" id="cards-box">
    </div>
  </body>
</html>
